@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0;
    font-family: "Roboto", sans-serif;
    /* box-sizing: border-box; */
    
    
}

:root {
    --bgcolor: #121212;
}

body {
    background-color: black;
    color: white;
    height:100%;
    overflow-y: hidden;
    
}

/* new home css for the player user interface */
.profile {

    background-color: #1f1f1f;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border: none;
    margin-right: 7px;
}

.profile-pic {
    width: 35px;
    border-radius: 50%;
}




/* new changes */
.container {
    padding: 0px 7px 7px;
}


.nav {
    display: flex;
    gap: 10px;
}

.white {
    fill: white;
    width: 35px;
}


.top-home-button {
    background-color: #1f1f1f;
    border-radius: 50%;
    border: none;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.top-home-button:hover {
    background-color: #2a2a2a;
}

.top-home {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    margin-right: 25px;
}

.search-input span input {
    padding: 10px;
    width: 45vh;
    background-color: #1f1f1f;
    border: none;
    font-size: 18px;
    color: white;
}

.e-9960-baseline {
    fill: #b3b3b3;
    width: 35px;

}

.search-input {
    display: flex;
    background-color: #1f1f1f;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    outline: none;
    padding: 0px 3px;
}

input:focus {
    outline: none;
}

.search-input:hover span input {
    background-color: #2a2a2a;
}

.search-input:hover .search-button {
    background-color: #2a2a2a;
}

.search-hover:hover {
    background-color: #2a2a2a;
    border: 1px solid #3f3f3f;

}

/* new changes end  */



.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0px 15px;


}

.logo img {
    cursor: pointer;
}


.home ul li {
    display: flex;
    gap: 15px;
    list-style: none;
    width: 24px;
    align-items: center;
    padding: 18px 20px 0px;
    font-weight: bold;
    cursor: pointer;

}

.heading {
    display: flex;
    gap: 15px;
    width: 100%;
    align-items: center;
    padding: 20px 15px 20px;
    font-weight: bold;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    background-color: var(--bgcolor);
    z-index: 1000;
   
}

.heading h3 {
    /* font-size: 16px; */
    font-weight: 400;
}

.left {
    width: 26vw;
    background-color: var(--bgcolor);
    height: 80vh;
    box-sizing: border-box;
    padding-bottom: 10px;
    padding-top: 0px;
    margin-right: 3.5px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.right {
    width: 100%;
    height: 80vh;

    background-color: var(--bgcolor);
    overflow-y: scroll;
    scrollbar-width: none;
    box-sizing: border-box;
    margin-left: 3.5px;
    margin-right: 3.5px;
}


.top-nav {
    width: 100%;
}

.playlist-card-img {
    position: relative;
}

.playlist-card-img img {
    width: 48px;
    height: 48px;
    border-radius: 5px;
}

.playlist-card {
    display: flex;
    gap: 15px;
    cursor: pointer;
    padding: 7px 10px 5px 10px;
    border-radius: 8px;

}

.playlist-card:hover {

    background-color: #1f1f1f;

}

.playlist-card.active {

    background-color: #1f1f1f;

}

.playlist-card:hover .overplay {
    opacity: 1;

}

.playlist-card:hover .overlay {
    opacity: 1;
}

.overplay {
    width: 25px !important;
    position: absolute;
    left: 25%;
    
    opacity: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;
    background-color: rgba(0, 0, 0, 0.5);
    /* darkness level */
    opacity: 0;
    border-radius: 5px;

}

.playlist-card-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
    justify-content: center;
}

.playlist-card-content svg {
    width: 10px;
    fill: #1ec758;
}

.p1{
    font-weight:300;
    font-size:16px;
}

.p1:active {
    color: #1dd05e;
}

.p2 {
    color: #9f9f9f !important;
    font-size: 14px;
    font-weight: 200;
}

.playlist {
    display: flex;
    flex-direction: column;
    /* height:18rem; */
    padding: 10px;
    margin: 10px 0px;
    overflow-y: auto;

}


.playlist .box {
    background-color: #1f1f1f;
    border-radius: 8px;
    padding: 10px 20px 8px;
    margin: 5px 0px;

}

.playlist .box .small {
    font-weight: 300;
    font-size: 14px;
}


.box button {
    margin: 10px 0px;
    border-radius: 18px;
    padding: 8px 22px;
    font-weight: bold;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

.box button:hover {
    transform: scale(1.04);
}

.left-footer-content {
    margin: 32px 0;
    padding: 0 24px;
    text-align: start;
}

.left-footerAtag {
    text-decoration: none;
    color: white;
    font-size: 11px;

}

.left-footer {
    margin-top: 70px;
}

.footer {
    display: flex;
    font-size: 11px;
    color: gray;
    gap: 10px 13px;
    /* position: absolute; */
    /* bottom: 0; */
    flex-wrap: wrap;
    /* width: 1rem; */
    /* padding: 10px; */
    margin-bottom: 5px;
}

.footer a {
    color: grey;
    text-decoration: none;
}

.english {
    padding: 0px 20px;
    margin-bottom: 30px;
}

.englishsvg {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    background-color: transparent;
    border: none;
    border: 1px solid #747474;
    border-radius: 21px;
    padding: 5px 10px;

}

.englishsvg:hover {
    border: 1px solid white;
}

.english-svg-span {
    width: 17px;
    display: flex;
    align-items: center;
}

.english-text {
    font-weight: 500;
}

/* this is the right side  */


.bg {
    background: linear-gradient(#2e2758, #121212);
}

.header {
    display: flex;
    justify-content: space-between;
    /* background-color:  #121212; */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
}

.header>* {
    padding: 3px;


}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

/* font weight have to be changed in login  */
.btns .button-premium {
    border: none;
    border-radius: 30px;
    font-weight: bold;
    font-size: 14px;
    padding: 8px 20px ;
}

.btns .login {
    padding: 10px 20px;
}

.loginAtag {
    text-decoration: none;
    color: black;
    /* font-weight: bold; */
}


.btns .signup {
    background: transparent;
    color: #b3b3b3;
}

.signup:hover {
    color: white;
    cursor: pointer;

}

.btns .line {
    background: #fff;
    height: 25px;
    margin: 16px;
    width: 1px;
}

.install {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px
}

.install img {
    filter: invert(0.7);

    width: 16px;
}

.install:hover {
    filter: invert(0);
}

.spotifyheading {
    padding: 35px 30px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spotifyheading h1 {
    font-weight: 600;
    font-size: 24px;

}

.spotifyheading span {
    color: #878787;
    font-weight: 500;
}

.cardContainer {
    padding: 0px 18px;

    display: grid;

    /* use this for the background in grey to wrap the content accordingly */
    align-items: flex-start;

    grid-auto-flow: column;

    overflow-x: auto;
    scroll-snap-type: x mandatory;
    /* gap: 1px; */
    scroll-behavior: smooth;

    /* to hide the scroll bar */
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
}





.play button {
    position: absolute;
    background-color: #1ed760;
    border: none;
    border-radius: 30px;
    display: flex;
    padding: 10px;
    top: 140px;
    right: 20px;
    cursor: pointer;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    box-shadow: 4px 6px 10px 2px rgb(11 2 2 / 35%);
}

.play button:hover {
    background-color: #3be477;
    transform: scale(1.05);

}

.play button img {
    width: 25px;
}

.card {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 12px;
    width: 170px;
    position: relative;


}

.card:hover .play button {
    opacity: 1;
    top: 130px;
}

.btns .size {
    font-size: 14px;
}

.card:hover {
    background-color: #1f1f1f;
    border-radius: 8px;
    cursor: pointer;

}

.card img {

    width: 100%;
    object-fit: contain;
    border-radius: 8px;
}

.card .title {
    font-weight: 300;
    font-size: 16px;
    padding-top: 2px;
}



.card img.circle {
    border-radius: 50%;
    object-fit: cover;
    height: 171.5px;
}

.encore-text-small-artist a {
    text-decoration: none;
    color: #aaaaaa;
    font-size: 14px;
}

.description {
    color: #aaaaaa;
    font-size: 14px;
    padding-top: 7px;
}

.footerContainer {
    padding: 8px 25px 60px;
    /* background-color: red; */
}

.footerNav {
    padding-top: 20px
}

.footerSection {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    margin-top: 30px;
    padding-bottom: 10px;
}

.footerSectionspan {
    font-weight: 600;
    font-size: 16px;

}

.footerAtag {
    text-decoration: none;
    color: #b3b3b3;
    font-size: 16px;
}

.socialmedia {
    padding: 0 5rem;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.media {
    display: flex;
    align-items: center;
    background-color: #292929;
    width: 40px;
    height: 40px;
    justify-content: center;
    border-radius: 50%;
}

.media:hover {
    background-color: #727272;
}

.media svg {
    width: 20px;
    filter: invert(1);
    /* background-color: white; */
}

.footerNav {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}

.spotifylast {
    padding: 16px 0 40px;
    color: #b3b3b3;
    font-size: 14px;
    font-weight: 300;
}

.playbar-container {
    margin: 0px 7px 5px;
}

.playerbar {
    /* background-color: red; */
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:8px;
}

.player-card{
    padding:0px !important;
}
.player-card:hover{
    background-color: transparent;
}
.player-card:hover .overlay{
   
        opacity: 0 !important;
    
}
.player-controls {
    display: flex;
    gap: 20px;

}

.forward {
    display: flex;
    gap: 15px;
}

.backward {
    display: flex;
    gap: 15px;
}

.player-play-btn {
    background-color: white !important;
    border-radius: 50%;
    padding: 6px;
    width: 30px !important;
    position: relative;
}

.player-btns {
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
}

.player-btns:hover .player-svg{
    fill: #ffffff;
}

.player-svg {
    fill: #b3b3b3;
}

.volume {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5px;
}
.volume-scroll{
    width:3rem;
    /* border:2px solid  #4d4c4c; */
    border:2px solid  white;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
}

.volume-circle{
    width:8px;
    height:8px;
    background-color:white;
    position: absolute;
    border-radius: 50%;
   top:-4px;
    left:98%;
    opacity: 0;
    transition: left 0.2s ease-in-out;
}

.volume-scroll:hover .volume-circle{
    opacity: 1;
}

.volume-scroll:hover{
    border:2px solid  #1dd05e;
}

.controls {
    display: flex;
    gap: 12px;
}


.bar{
    width: 38rem;
    border: 2px solid #4d4c4c;
    height:0px !important;
    position: relative;
    border-radius: 8px;
    cursor: pointer;
    /* z-index: 10; */
}

.bar-circle{
    width:12px;
    height:12px;
    background-color: white;
    position: absolute;
    border-radius: 50%;
   top:-6px;
    left:-1%;
    opacity: 0;
    transition: left 0.2s ease-in-out;
}
.bar:hover .bar-circle{
    opacity: 1;
}


.scrolled {
    box-shadow: -1px 9px 10px black;

}

.seekbar{
    display: flex;
    align-items: center;
    gap:18px;
}

.startTime{
    font-size: 12px;
    color:#b3b3b3;
    font-weight:700;
}

.endTime{
    font-size: 12px;
    color:#b3b3b3;
    font-weight:700;
}

.play-card{
    width:15% !important;
}

.nav .hamburger-img{

    width: 20px;
    padding-left: 15px;
    display: none;
}

.widthbar{
    
    border: 2px solid white;
    top: -2px;
    left: -2px;
    width: 0px;
    transition: 0.2s ;
}

.bar:hover .widthbar{
    border:2px solid  #1dd05e;
}


.range{
    display:flex;
}


input[type="range"] {
    -webkit-appearance: none;
    width: 66px;
    height: 3px;
    background: linear-gradient(to right, #1ec758 100%, #ccc 50%);
    border-radius: 5px;
    outline: none;
  }
  
  /* WebKit (Chrome, Safari) */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 12px; /* ⬅️ change circle size */
    width: 12px;
    border-radius: 50%;
    background: white; /* ⬅️ circle color */
    cursor: pointer;
    margin-top: -1px; /* adjust to align thumb */
  }
  
  /* Firefox */
  input[type="range"]::-moz-range-thumb {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #1ec758;
    cursor: pointer;
  }
  
  input[type="range"]::-moz-range-track {
    height: 4px;
    background: #ccc;
  }
  
  /* Internet Explorer */
  input[type="range"]::-ms-thumb {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #1ec758;
  }
  
  input[type="range"]::-ms-fill-lower {
    background: #1ec758;
  }
  
  input[type="range"]::-ms-fill-upper {
    background: #ccc;
  }


@media (max-width:1265px){
    .right{
        width:100vw;
    }
    .left{
        /* background-color: red; */
        position:absolute;
        left:-100%;
        transition: all 0.3s ease-in-out;
        z-index: 3;
    }
    .play-card .playlist-card-content p{
        font-size:14px;
    }

    .bar{
        width:30vw;
    }
    .hamburger-img{
        display: block !important;
    }
    .widthbar{
        width: 0;
    }
}

@media (max-width:1095px)
{
    
    .player-card .playlist-card-content p{
        display : none;
    }
    .button-premium{
        font-size: 10px !important;
    }
    .signup{
        font-size: 10px !important;
    }
    .btns{
        gap:7px;
    }
    .search-input span input{
        width:30vh;
    }
}

@media (max-width:1000px){
    .playerbar{
        
        gap:35px;
    }

    .controls{
        gap:5px;
    }
    .search-input span input{
        width:25vh;
    }
    
    .btns{
        gap:0;
    }
    .player-card-img{
        width: 45px !important;
        height: 45px !important;
    }
}

@media (max-width:860px)
{
    .search-input span input{
        width:15vh;
    }
    .search-input span input{
        font-size:10px;
    }
    .play-card .playlist-card-content p{
        font-size:11px;
    }
    .left{
        width:35vw;
    }
    
}

@media(max-width:710px)
{
    .left{
        width: 40vw;
    }
    .search-input span input{
        width:4.5vh;
    }
    .search-input span input{
        font-size: 10px;
    }
    .button-premium{
        font-size: 8px !important;
        padding: 8px 10px !important;
    }
    .p2{
        display:none;
    }
    .p1{
        font-size: 14px;
    }
    .display-controls{
        display:none;
    }
    .footerNav{
        flex-direction: column;
        /* gap:20px; */
    }
    .footerSectionspan{
        font-size:12px;
    }
    .footerSection{
        gap:20px;
    }
    .footerAtag{
        font-size:10px;
    }
    input[type="range"] {
        width:55px;
    }
}

@media (max-width:550px)
{
    .left{
        width:80vw;
    }
    .search-input span input{
        width:8vh;
    }
    .logo{
        display:none;
    }
    .line{
        display:none;
    }
    .button-premium{
        display:none;
    }
    .display-controls{
        display:none;
    }
    .volume-scroll{
        display:none;
    }

    .volume button{
        margin-right:10px;
    }
    .footerNav{
        flex-direction: column;
        /* gap:20px; */
    }
    .footerSectionspan{
        font-size:12px;
    }
    .footerSection{
        gap:20px;
    }
    .player-btns{
        width:12px
    }
    .player-play-btn{
        width:25px !important;
    }
    .player-controls{
        gap:15px;
    }
    .player{
        gap:6px;
    }
    .startTime{
        font-size:10px;
    }
    .endTime{
        font-size: 10px;
    }
    .footerAtag{
        font-size:10px;
    }
    .spotifylikedheading img{
        width: 100px !important;
    }
    .spotifylikedheading .h1{
        font-size:50px;
    }
    .card{
        width:100px;
    }
    .card .title{
        font-size: 12px;
    }
    .encore-text-small-artist a{
        font-size:10px;
    }
    .card img.circle {
        height:100px;
    }
    .description {
        font-size: 10px;
    } 
    .playerbar{
        padding-right: 40px;
    }
   
    .volume{
        flex-direction: column;
    }
    input[type="range"]{
        width:30px !important;
    }
}

@media (max-width:360px){
    .search-input span input{
        width:1vh;
    }
    .volume button{
        margin-right:2px;
    }
    .play-card .playlist-card-content p{
        font-size:10px;
    }
    .playerbar{
        padding-right:120px;
    }
}