
.border{
    border: 2px solid red;
    margin: 3px;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.items-center{
    align-items: center;
}


.bg-black{
    background-color: black;
    color: white;
}

.invert{
    filter: invert(1);
    width: 30px;
}

.invert-color{
    filter:invert(1);
}

.bg-grey{
    background-color: #121212;
}

.rounded{
    border-radius: 8px;
}

.m-1{
    margin: 5px;
}

.cursor-pointer{
    cursor: pointer;
}

.box-m{
    margin:10px 0px;
}

.p-1{
    padding: 20px 10px;
}

.text{
    font-size: 16px;
    
}

.hovering:hover{
    cursor: pointer;
    text-decoration: underline;
    color: rgb(255, 255, 255);
}

.scale:hover{
    transform: scale(1.04);
    cursor: pointer;
    
}

.doflex{
    display: flex
    ;
        flex-direction: column;
        align-items: flex-start;
        /* justify-content: center; */
        gap: 8px;
}

.textdecoration{
    text-decoration: none;
    color:#b3b3b3;
}